*{
    margin:0 ;
    padding: 0;
}
body{
background: beige;
}
header img {
    width: 100px;
    height: 100px; 
    margin-top: 20px;
    margin-left: 20px;
}
header h1{
    text-align: center;
    font-size: 40px;
    color: orange;
    background: aqua;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
main ul li{
    font-size:20px ;
    color: blue;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
main h2{
    margin: 50px;
    font-size: 30px;
    color: purple;
}
main p{
    font-size: 20px;
    color: black;
    margin-left:70px ;
    margin-right: 70px;

}
main #sodo{
    width: 70%;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main .imglist img{
    width:30% ;
    height: 300px;
    margin-left: 40px;
}
footer tr th{
    border: solid 2px red;
    padding: 10px;
    background: #fff;
}
footer table{
    border-collapse : collapse ;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 30px;
}
footer h3 a{
    margin-left: 865px;
}
footer h3{
    margin-top: 20px;
}
footer #cmt{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 30px;
    color: orange;
    margin-bottom: 20px;
}
footer p{
    margin-left:70px;
    margin-right:70px;
    font-size:20px;
    color:black;
}
footer marquee{
    background-color:darkgray ;
    padding: 10px;
    margin-top:10px ;
    margin-bottom:10px;
}
footer marquee img{
    width:300px;
    hieght:250px;
    margin-left:50px;
}
footer div {
background-color: black;
color: white;
text-align: center;
padding:50px;
}
footer div a img{
    
    width: 50px;
    height: 50px;
}